<h1 style="padding:1rem 2rem;">Pedidos disponibles</h1>

<div *ngFor="let order of this.orders" style="padding:1rem 2rem;">

    <div class="card mb-3" style="width: 45rem;">
        <div class="row" style="padding:1rem;">
            <div class="col-md-6">
                <h5 class="card-title">Nombre Local</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary" style="padding-top:1rem ;"><strong>Estado: </strong>{{order.order.state}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary" style="padding-top:0.5rem ;"><strong>Id:</strong>  {{order.order.orderId}}</h6>
                <h6 class="card-subtitle mb-2" style="padding-top:0.5rem ;"><strong>Dirección:  </strong> {{order.order.address}}</h6>
                
                <div>
                    <h5 class="card-title">Informacion del cliente</h5>
                    <button class="btn btn-primary">Tomar este pedido</button>
                  </div>  
            </div>
            <div class="col-md-5">
                <h5 class="card-title">Productos del pedido</h5>
                <ul class="list-group" >
                    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let product of order.productsOrder">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">{{product.product_name}}</div>
                        {{product.product_price}}
                      </div>
                      <span class="badge text-bg-primary">{{product.orderProduct_quantity}}</span>
                    </li>
                  </ul>
            </div>          
        </div>
        
    </div>
          
</div>