<div>
  <a href="">
    <img class = "botones-superiores" src="assets/imagenes/imagenes-pago/iconovolverpago.png">

  </a>
  <h1 class = "titulo-pago">Terminar y pagar</h1>
</div>

<div>
  <div class="productos-container">
    <img class = "img-opciones" src="assets/imagenes/imagenes-pago/iconodireccionpago.png">
    <div class = "texto-direccion">
      <p class = "texto-opciones">Dirección</p>
      <p class = "info-direccion">000000 Arica, Arica</p>
    </div>
    
    <a href="#">
      <img class = "img-opciones" style= "margin-left: 170px;" src="assets/imagenes/imagenes-carrito/iconoflechacarrito.png" >
    </a>
  </div>

  <hr>

  <div class="productos-container">
    <img class = "img-container" src="assets/imagenes/imagenes-pago/iconousuariopago.png">
    <div style="white-space: nowrap;">
      <p class = "texto-opciones">Nos vemos en la puerta</p>
      <p class = "info-entrega"> Añadir instrucciones de entrega</p>
    </div>
    <img class = "img-opciones" style= "margin-left: 85px;" src="assets/imagenes/imagenes-carrito/iconoflechacarrito.png" >
  </div>

  <hr>

  <div class="productos-container">
    <img class = "img-container" src="assets/imagenes/imagenes-pago/iconotiempopago.png">
    <div style="white-space: nowrap;">
      <p class = "texto-opciones">Tiempo de espera</p>
      
    </div>
    <p class = "tiempo-espera">25-40 min</p>
  </div>

  <hr class = "hr-final">


</div>

<div>
  <h1 class="titulo-resumen-pedido">Resumen del pedido</h1>
</div>




<div>
  <div class="productos-container">
    <img class = "img-local" src="assets/imagenes/imagenlocalinicio.png">
    <div class = "texto-direccion">
      <p class = "texto-opciones">Nombre restaurante</p>
      <p class = "info-direccion">3 artículos</p>
    </div>
    
    <a href="#">
      <img class = "img-opciones" style= "margin-left: 108px;" src="assets/imagenes/imagenes-carrito/iconoflechacarrito.png" >
    </a>
  </div>

  <hr>  
</div>

<div class = "texto-descripcion-pedido">
  <div class="productos-container">
    <p> Subtotal </p>
    <p class = "texto-izquierda-pedido">$5.000</p>
  </div>
  <div class="productos-container">
    <p> Costo de envío </p>
    <img src="assets/imagenes/imagenes-pago/iconoinformacionpago.png" class="img-informacion">
    <p class = "texto-izquierda-pedido" style="margin-left: 170px">$500</p>
  </div>
  <div class="productos-container">
    <p> Cuota de servicio </p>
    <img src="assets/imagenes/imagenes-pago/iconoinformacionpago.png" class="img-informacion" >
    <p class = "texto-izquierda-pedido" style="margin-left: 130px">$1.040</p>
  </div>
</div>

<div class = "texto-total-pedido">
  <div class="productos-container">
    <p>Total</p>
    <p class = "texto-izquierda-pedido" style="margin-left: 230px">$6.540</p>
  </div>
</div>

<div class="productos-container">
  <img src="assets/imagenes/imagenes-pago/iconotarjetapago.png" class="img-tarjeta">
  <p class="texto-tarjeta"> Mastercard ····5890</p>
  <a href="#">
    <img class = "img-opciones" style= "margin-left: 108px;" src="assets/imagenes/imagenes-carrito/iconoflechacarrito.png" >
  </a>
</div>

<footer>
  <section class="wrapper">
        <nav>
            <ul>

              <button class = "boton-continuar">Continuar</button>
                
            </ul>
    </nav>
    </section>
</footer>

