<div style="padding:4rem 20rem;">
  <h1>Carrito</h1>
  <div>
    <div class="producto">
      <div class="productos-container">
        <div class="enlace-producto">
          <div style="display: flex;" *ngFor="let producto of this.order[1]">
              <p>{{producto.orderProduct_quantity}}</p>
              <img src={{producto.product_images}} alt="{{ producto.product_name }}">
              <div class="info">
                <h3 class="titulo-producto">{{ producto.product_name }}</h3>
                <p class="precio-producto">${{ producto.product_price}}</p>      
          </div>
            <small class="" style="padding-top: 1rem;">{{producto.orderProduct_specification}}</small>
          </div>
        </div>
      </div>
      <hr>

    </div>
    
    <hr class="hr-final">
    
  </div>
  <div>
    <div class="productos-container">
      <p class="text-subtotal">Subtotal</p>
      <p class="text-subtotal" style="margin-left: 250px;">$ {{total}}</p>
    </div>

  </div>
      <ul>
        <button class="btn btn-danger" (click)="emptyCart()">Vaciar Carrito</button>
        <button class = "boton-continuar" (click)="confirmOrder()">Continuar</button>
      </ul>
</div>





