<div style="padding:3rem;width:30rem" [formGroup] = "user_register_form">
    <h1>Registrarse</h1>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="last_name_label">Nombre</label>
                <input type="text" class="form-control" formControlName="name"
                [ngClass]="{
                'is-invalid': user_register_form.get('name')?.touched && user_register_form.get('name')?.invalid,
                'is-valid': user_register_form.get('name')?.touched && user_register_form.get('name')?.valid
                }">
                <div *ngIf="user_register_form.get('name')?.touched && user_register_form.get('name')?.invalid" class="invalid-feedback">
                    <div *ngIf="user_register_form.get('name')?.errors?.['required']">El nombre es requerido.</div>
                </div>
                <div *ngIf="user_register_form.get('name')?.touched && !user_register_form.get('name')?.invalid" class="valid-feedback">
                    <div class="is-valid">Se ve bien !</div>
                </div>
                <small id="name_help" class="form-text text-muted">Ingrese su nombre</small>
        </div>
        <div class="col">
            <label for="last_name_label">Apellido</label>
            <input type="text" class="form-control" formControlName="last_name"
                [ngClass]="{
                'is-invalid': user_register_form.get('last_name')?.touched && user_register_form.get('last_name')?.invalid,
                'is-valid': user_register_form.get('last_name')?.touched && user_register_form.get('last_name')?.valid
                }">
                <div *ngIf="user_register_form.get('last_name')?.touched && user_register_form.get('last_name')?.invalid" class="invalid-feedback">
                    <div *ngIf="user_register_form.get('last_name')?.errors?.['required']">El apellido es requerido.</div>
                </div>
                <div *ngIf="user_register_form.get('last_name')?.touched && !user_register_form.get('last_name')?.invalid" class="valid-feedback">
                    <div class="is-valid">Se ve bien !</div>
                </div>
            <small id="last_name_help" class="form-text text-muted">Ingrese su apellido</small>       
            </div>
        </div>
      </div>
    <!-- Email field-->
    <div class="form-group">
        <label for="email_label">Correo electronico</label>
        <input type="email" class="form-control" formControlName="email"
            [ngClass]="{
            'is-invalid': user_register_form.get('email')?.touched && user_register_form.get('email')?.invalid,
            'is-valid': user_register_form.get('email')?.touched && user_register_form.get('email')?.valid
            }">
        <div *ngIf="user_register_form.get('email')?.touched && user_register_form.get('email')?.invalid" class="invalid-feedback">
            <div *ngIf="user_register_form.get('email')?.errors?.['required']">El correo es requerido.</div>
            <div *ngIf="user_register_form.get('email')?.errors?.['email']">Ingrese un correo valido.</div>
        </div>
        <div *ngIf="user_register_form.get('email')?.touched && !user_register_form.get('email')?.invalid" class="valid-feedback">
            <div class="is-valid">Se ve bien !</div>
        </div>
        <small class="form-text text-muted">Ingrese su correo</small>    
    </div>

    <div class="form-group">
        <label for="password_label">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password"
        [ngClass]="{
          'is-invalid': user_register_form.get('password')?.touched && user_register_form.get('password')?.invalid,
          'is-valid': user_register_form.get('password')?.touched && user_register_form.get('password')?.valid
        }">
        <div *ngIf="user_register_form.get('password')?.touched && user_register_form.get('password')?.invalid" class="invalid-feedback">
            <div *ngIf="user_register_form.get('password')?.errors?.['required']">La contraseña es requerida.</div>
            <div *ngIf="user_register_form.get('password')?.errors?.['minlength']">La contraseña debe tener almenos 6 caracteres.</div>
        </div>
        <div *ngIf="user_register_form.get('password')?.touched && !user_register_form.get('password')?.invalid" class="valid-feedback">
            <div class="is-valid">Se ve bien !</div>
        </div>
        <small id="password_help" class="form-text text-muted">Escribe una contraseña segura para su cuenta</small>
    </div>
    
    <div class="form-group">
        <label for="address_label">Dirección de entrega</label>
        <input type="text" class="form-control" formControlName="address"
        [ngClass]="{
            'is-invalid': user_register_form.get('address')?.touched && user_register_form.get('address')?.invalid,
            'is-valid': user_register_form.get('address')?.touched && user_register_form.get('address')?.valid
          }">
        <div *ngIf="user_register_form.get('address')?.touched && user_register_form.get('address')?.invalid" class="invalid-feedback">
            <div *ngIf="user_register_form.get('address')?.errors?.['required']">La direccion es requerida.</div>
        </div>
        <div *ngIf="user_register_form.get('address')?.touched && !user_register_form.get('address')?.invalid" class="valid-feedback">
            <div class="is-valid">Se ve bien !</div>
        </div>
        <small id="address_help" class="form-text text-muted">Ingrese una dirección de entrega</small>

    </div>

    <br>
    <div class="form-group">
        <button class="btn btn-success form-control" (click)="register()" 
        [disabled]="user_register_form.controls['email'].invalid || 
        user_register_form.controls['password'].invalid ||
        user_register_form.controls['address'].invalid"
        >Registrarse</button>
    </div>
</div>
