<div class="container-inicio">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let local of getLocals()">
          <div class="card" (click)="goToLocal(local.id)">
            <img src={{local.description}} class="card-img-top" style="height:15rem;width:18rem;padding:2rem;">
            <div class="card-body">
              <h5 class="card-title">{{local.name}}</h5>
              <p class="card-text">{{local.category}}</p>
            </div>
                </div>
            </div>
    </div>
</div>