<div class="container-inicio">
    <app-super-local></app-super-local>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
    <div *ngFor="let local of getLocals()" >
        <div class="card border-0">
            <a class="" routerLink="/local/{{local.id}}">

                <p>{{local.id}}</p>
                <img src={{local.image}}
                    class="card-img-top img-card" alt="test-img">
                <div class="card-body">
                    <h5 class="card-title text-3xl font-bold underline">{{local.name}}</h5>
                    <p class="card-text">Costo de envío: CLP 1200 20-35min</p>
                </div>
            </a>
        </div>
    </div>
    <app-footer-home></app-footer-home>
</div>
