<div class="container-inicio">
    <app-super-local></app-super-local>
    <div *ngFor="let local of locales" >
        <div class="card border-0">
            <a class="" routerLink="local/{{local.id}}">
                <p></p>
                <img src={{local.image_url}}
                    class="card-img-top img-card" alt="test-img">
                <div class="card-body">
                    <h5 class="card-title">{{local.name}}</h5>
                    <p class="card-text">Costo de envío: CLP 1200 20-35min</p>
                </div>
            </a>
        </div>
    </div>
    <app-footer-home></app-footer-home>
</div>
