.botones-superiores {
    display: flex;
    justify-content: space-between;
    border-radius:50%;
    position:fixed;
  }
  .botones-superiores-izq{
    margin-left: 150px;
  }

  .boton{
    
    width:60px;
    height:60px;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
		color: black;
    background: -webkit-linear-gradient(rgba(50, 50, 50, 0.822),rgba(50, 50, 50, 0.815));
  }

  .img-superior{
    height: 30px;
    width: 30px;

  }

  .img-encabezado{
    width: 100%;
    height: 200px;
  }

  .titulo{
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top:20px;
  }

  .titulo-categoria{
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    text-align: justify;
    margin-top: 20px ;
    margin-left: 10px;
    font-weight: bold;
  }

  .titulo-producto{
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    
  }

  .precio-producto{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
  }

  .descripcion-producto{
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    color:#888787
  }

  .texto-superior{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #888787;
  }

  .img-texto-superior{
    width: 15px;
    height: 15px;
    vertical-align: -2px;
  }

  .tabla-contenedor {
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #bebcbc;
    padding: 5px;
    width: 350px;
    
  }

  table {
    font-size: 15px;
    font-family: "Rubik", sans-serif;
    text-align: center;
    table-layout: auto; 
    border-collapse: separate;
    border-spacing: 0;
    grid-gap: 200px;
  }
  
  th, td {
    padding: 5px;
    padding-left: 10px ;
    padding-right: 0;
    text-align: center;
    vertical-align: center;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  th.separator {
    position: relative;
  }
  
  th.separator::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #bebcbc;
  }

.texto-tabla-gris{
    color: #888787;
}

.productos-container {
  display: flex;
  flex-wrap: wrap; 
}

.enlace-producto {
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  margin: 5px; 
}

.enlace-producto .info {
  flex: 1;
  margin-right: 30px;
  white-space: nowrap;

}

.enlace-producto img {
  width: 100px;
  height: auto;
  border-radius: 12%;
  position: absolute;
  right: 20px;
}

hr {
  border: none;
  border-bottom: 1px solid #bebcbc; 
  margin: 0;
}

.hr-final {
  border: none;
  border-bottom: 5px solid #bebcbc; 

}

.titulo-producto{
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

.info-producto{
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color:#888787
}

.precio-producto{
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: black
}


.button-add-car button{
  color: white;
  background-color: black;
  border:none;
  border-radius: 5px;
  height: 3rem;
}

.button-add-car {
  margin-left: 6rem;
  width: 95%;
}