<div style="padding:0.5rem 3rem;">
  <img src={{local.description}} style="width:12rem;">

  <h1>Productos</h1>
  <div class="row row-cols-3 row-cols-md-1 g-1">
    <div class="" style="display: inline;" *ngFor="let product of this.products">
     
      <a class="card mb-3" style="max-width: 540px;height:6.05rem;" routerLink="/producto/{{product.productId}}">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="fs-6">{{product.name}}</h5>
                    <p class="fs-6" style="margin:0">${{product.price}}</p>
                    <small class="text-body-secondary" style="font-size: 0.1rem;">{{product.description}}</small>
                </div>
            </div>
            <div class="col-md-4">
                <img [src]=product.images class="card-img" alt="Completo" style="height:6rem;width: 8rem;">
            </div>
        </div>
      </a>
  </div>
