<div style="padding:0 10rem 0 10rem;">
  <h1>{{local.name}}</h1>
</div>
<div class="product-card-container" >
  <div class="row row-cols-3 row-cols-md-2 g-4">
    <div class="col" *ngFor="let product of this.products">
      <div class="card">
        <img src={{product.images}} class="card-img-top" style="width: 15em;height:12rem;padding:1rem;border-radius:1.7rem;">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <a class="btn btn-success" routerLink="/producto/{{product.productId}}" >Pedir</a>
          </div>
        </div>
        </div>
  </div>
  