  .wrapper {
    width: 100%;
    margin: auto;
    overflow:hidden;
  }

  
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

  }

  .container_footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  nav {
    float: center; 
    
  }
  nav ul {
    list-style: none;
    overflow: hidden; 
    margin-bottom: 0;
  }
  nav ul li {
    float: left;
    margin-bottom: 0px; 
    font-family: "Rubik", sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block; 
    color: black;
  }
  nav ul li:hover {
    background: #dfe4e0;
    
  }

  img {
    height: 25px;
    width: 25px;
    margin-bottom: 0;
  }

  .centrar-imagen {
    text-align: center;
}

.centrar-imagen img {
    display: inline-block;
}

.pag-container {
  max-width: 18rem;
  min-width: none;
  margin: auto;
  background-color: #d0d3d6;
}