<div class="pag-container" >
<footer>
  <section class="wrapper">
        <nav>
            <ul>
                <li class = "container_footer">
                    <div class = "centrar-imagen">
                        <img src="assets\imagenes\iconohome.png"/>
                        <br>
                        <p>Inicio</p>
                    </div>
                </li>

                <li class = "container_footer">
                    <div class="centrar-imagen">
                        <img src="assets\imagenes\iconosuper.png"/>
                        <br>
                        <p>Súper</p>
                    </div>
                </li>

                <li class = "container_footer">
                    <div class="centrar-imagen">
                        <img src="assets\imagenes\iconobuscar.png"/>
                        <br>
                        <p>Explorar</p>
                    </div>
                </li>

                <li class = "container_footer">
                    <div class="centrar-imagen">
                        <img src="assets\imagenes\iconocarrito.png"/>
                        <br>
                        <p>Carritos</p>
                    </div>
                </li>

                <li class = "container_footer">
                    <div class="centrar-imagen">
                        <img src="assets\imagenes\iconocuenta.png"/>
                        <br>
                        <p>Cuenta</p>
                    </div>
                </li>
            </ul>
    </nav>
    </section>
</footer>
</div>