<div class="container " style="padding-top:2rem;">
    <div class="row">
      <div class="col">
        <div class="" style="width: 20rem;" >
            <img src="./../../../../assets/images/cuenta_repartidor.jpeg"  style="width: 20rem;height:12rem;">
            <div class="card-body">
              <h5 class="card-title">Haz entregas con Uber eats</h5>
              <a href="/signup/delivery" class="card-link"><u>Registrate para realizar entregas</u></a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="" style="width: 20rem;">
            <img src="./../../../../assets/images/cuenta_restaurant.jpeg" style="width: 20rem;height:12rem;">
            <div class="card-body">
              <h5 class="card-title">Realiza ventas de tu local</h5>
              <a href="/signup/local" class="card-link"><u>Registrate como dueño</u></a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="" style="width: 20rem;" >
            <img src="./../../../../assets/images/cuenta_negocios.jpeg"  style="width: 20rem;height:12rem;">
            <div class="card-body">
              <h5 class="card-title">Gestiona repartidores</h5>
              <a href="" class="card-link"><u>Registrate para gestionar repartidores</u></a>
            </div>
          </div>
      </div>
    </div>
  </div>