 <div style="padding:5rem;">
  <div class="hstack gap-3" style="align-items: normal;">
  
    <div class="header-product">
      <div class="image-product">
        <img src={{product.images}} alt="product-img" />
      </div>
    </div>
  
    <div style="padding-left:2rem;width:100%;">
      <div class="description-prod">
        <h2 class="title-prod">{{product.name}}</h2>
        <h3>{{product.price}} clp</h3>
        <p>{{product.description}}</p>
      </div>
      
      <div class="special-inst">
        <h3>Instrucciones especiales</h3>
          <textarea class="aditional-ins" type="text" placeholder="Agregar una nota (salsa adicional, sin cebolla, etc.)" id="instr-aditional" [(ngModel)] = 'specifications'></textarea>
      
          <div class="buttons-incDec-container">
      
            <div class="buttons-span">
              <!-- Cambiar el color y desactivar boton minus y plus-->
              <span class="minus" (click)="subProductCant()">-</span>
              <span class="num">{{cant_prod}}</span>
              <span class="plus" (click)="addProductCant()">+</span>
            </div>
    
        </div>
    
    </div>
    
  </div>
  
  </div>
    <div class="button-add-car" style="padding-top:2rem;">
        <button (click)="addProductToCart()"> Agregar {{cant_prod}} al Carrito • CLP{{price * cant_prod}}</button>
    </div>
</div>