/* You can add global styles to this file, and also import other style files */
.body-class {
    margin: auto;
}
a {
    text-decoration: none;
}
a:link, :visited, :hover, :active{
    color: #000;
}
