<div class="container">

    <!-- Se muestra los datos del local -->
    <main>
        <!-- Titulo del local -->
        <h1></h1>

        <!-- Imagen del local-->
        <article class="card w-25 p-3">
            <img src={{local.img}} alt="">
        </article>

        <!-- Datos de la tienda -->
        <aside>
            <div class="datos">

                <div class="description">
                    <p>{{local.description}}</p>
                </div>
                <div class="direccion">

                </div>
                <div class="horario-atencion">

                </div>

                <div class="categoria">

                </div>


            </div>

        </aside>
    </main>
    <div></div>
</div>