.card {
    max-width:25rem;
    margin:0 auto;
    padding: 0.5rem 0 0 0;
}

.img-card {
    height: 10rem;
    border-radius: 10px;
}

.scrollable-tabs-container {
    max-width: 25rem;
    margin: 15px auto;
}

.scrollable-tabs-container ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    gap: 15px;
    overflow-x: auto;
}

.scrollable-tabs-container ul::-webkit-scrollbar {
    width: 0;
}

.scrollable-tabs-container a {
    text-decoration: none;
    color: #000;
    user-select: none;
    display: inline-block;
}



.scrollable-tabs-container svg {
    display: none;
    cursor: pointer;
}


.tiendas-tab img {
    clip-path: circle(50%);
    width: 4.5rem;
    height: 4.5rem;
}
