<div class="scrollable-tabs-container">
    <ul>
        <li *ngFor="let item of [1,2,3,4,5,6,7,8,9]; index as i" class="tiendas-tab">
            <a href="">
                <img src="https://tb-static.uber.com/prod/image-proc/processed_images/c78bcd0e107de6b1b07be95387d71618/c9252e6c6cd289c588c3381bc77b1dfc.jpeg"
                    alt="test-img-jumbo">
            </a>
        </li>

        <li>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="44"
                    height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l14 0" />
                    <path d="M13 18l6 -6" />
                    <path d="M13 6l6 6" />
                </svg>
            </a>
        </li>
    </ul>

    <div class="right-arrow">
    </div>
</div>
