<nav class="container">

    <div class="container__top-search">
        <div class="top-search__address">
            <button>
                <div class="address__text">
                    <p>Entregar Ahora</p>
                    <p>dirección actual</p>
                </div>
                    
                <div class="adress__row-down">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="40" height="35" viewBox="0 0 24 24" stroke-width="2" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M16 15l-4 4l-4 -4" />
                      </svg>
                </div>
            </button>
        </div>

        <div class="top-search__buttons">
            <div class="button__notification">
                <button class="notification__promos">
                    notification
                </button>
            </div>
            <div class="buttons__splice-map">
                <button>slice button</button>
            </div>
        </div>
    </div>


    <div class="container__search">
        <div class="container__search--input">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>
            </button>
            <input type="text" placeholder="Buscar Uber Eats">
        </div> <!-- parte de busqueda-->
    </div>

</nav>