<div class="pag-container" >
<footer>
  <section class="wrapper">
        <nav>
            <ul>
                <li class = "container_footer">
                    <div class = "centrar-imagen">
                        <img src="assets\images\iconohome.png"/>
                        <br>
                        <p>Inicio</p>
                    </div>
                </li>

                <li class = "container_footer">
                    <div class="centrar-imagen">
                        <a href="/" >
                            <img src="assets\images\iconosuper.png"/>
                            <br>
                            <p>Súper</p>    
                        </a>
                        
                    </div>
                </li>

                <li class = "container_footer">
                    <div class="centrar-imagen">
                        <img src="assets\images\iconobuscar.png"/>
                        <br>
                        <p>Explorar</p>
                    </div>
                </li>

                <li class = "container_footer">
                    <div class="centrar-imagen" routerLink = "/carrito">
                        <img src="assets\images\iconocarrito.png"/>
                        <br>
                        <p>Carritos</p>
                    </div>
                </li>

                <li class = "container_footer">
                    <div class="centrar-imagen">
                        <img src="assets\images\iconocuenta.png"/>
                        <br>
                        <p>Cuenta</p>
                    </div>
                </li>
            </ul>
    </nav>
    </section>
</footer>
</div>